amqp: &amqp
  host:                           localhost
  port:                           15672
  username:                       guest
  password:                       guest
  vhost:                          /
  start_uss_node_queue_name:      builds.windows.ussnode
  stop_uss_node_queue_name:       commands.windows.ussnode
  uss_node_queue_prefetch:        5
  build_reporting_exchange:       reporting
  build_reporting_routing_key:    reporting.builds.builds
  build_receive_message_type:     build:receive
  build_start_message_type:       build:start

default: &defaults
  uss_node_folder_prefix:           uss_node
  node_binaries_path:               /tmp/node_bin
  node_binary_name:                 AVG.Ddtf.UssNode.exe
  config_template_path:             /templates/config.xml.erb
  log_level:                        <%= Logger::DEBUG %>
  ss_node_queue_prefetch:           5
  shutdown_node_wait_in_minutes:    60
  shutdown_node_check_count:        5
  shutdown_node_period_in_minutes:  10
  shutdown_node_api_calls:          [10,5,0]
  amqp: *amqp
  uss_node:
    enqueued_by:                  someone
    proton_url_suffix:            Proton/
    base_address:                 http://localhost:1234/BaseAddress/
    uss_base_endpoint:            http://localhost:4567/UssEndpoint/
    ddtf_web_link:                https://ddtf-web-link
    artifact_storage_path:        /var/tmp/storage
    logs_storage_path:            /var/tmp/logs
    uss_api_endpoint:             http://localhost:4567/UssEndpoint-Rest/
    uss_secure_api_endpoint:      https://localhost:7890/UssEndpoint-Rest/
    restart_protection_timeout:   00:20:00
    scenario_instaces_dir_path:   /var/tmp/scenario_instances
    db4o_result_host:             1.1.1.1
    db4o_result_port:             8080
    db4o_result_username:         username
    db4o_result_password:         password
    db4o_definition_host:         2.2.2.2
    db4o_definition_port:         9090
    db4o_definition_username:     username
    db4o_definition_password:     password
    final_ci_endpoint:            http://final-ci-endpoint
    guest_api_endpoint:           http://guest-api-endpoint
    final_ci_timeout:             5000
    storage_ip_address:           3.3.3.3
    resource_pool_name:           PoolName
    use_machine_pool:             true
    cluster_name:                 cluster
    cluster_endpoint:             http://localhost:3333/cluster-endpoint/
    package_provider_endpoint:    http://localhost:4444/
    package_provider_endpoint_v2: http://localhost/package_provider
    floating_rescheduled_period:  00:30:00.000
    unc_username:                 username
    unc_password:                 password
    admin_username_unix:          username
    admin_password_unix:          password
    admin_username_windows:       username
    admin_password_windows:       password
    rabbit_logs_username:         username
    rabbit_logs_password:         password
    rabbit_logs_host:             localhost
    rabbit_logs_port:             5672
    rabbit_logs_vhost:            host
    rabbit_final_ci_username:     username
    rabbit_final_ci_password:     password
    rabbit_final_ci_host:         localhost
    rabbit_final_ci_port:         5672
    rabbit_final_ci_vhost:        host
    rabbit_final_ci_exchange:     reporting
    rabbit_final_ci_routing_key:  reporting.builds.builds
    rabbit_final_ci_message_type: build:error

production:
  <<: *defaults

development:
  <<: *defaults

test:
  <<: *defaults
